.container {
    width: 95%;
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .todos {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 47.5%;
    padding: 15px;
    background-color: #fbfcfad8;
  }
  
  .dragactive {
    background-color: #ffffff;
  }
  
  .dragcomplete {
    background-color: #ff2600;
  }
  
  .remove {
    background-color: #eb6750;
  }
  
  .todos_heading {
    font-size: 30px;
    /* text-align: center; */
    color: black;
  }

  @media (max-width: 1100px) {
    .todos {
      width: 45%;
    }
  }

  @media (max-width: 700px) {
    .container {
      width: 95%;
      flex-direction: column;
    }
    .todos {
      width: 95%;
      margin-bottom: 10px;
    }
  }